* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(50,100,150);
  }
  h1 {
    font-family: "Permanent Marker";
    font-size: 80px;
    text-align: center;
    color: #ccc;
  }
  
  .flexcontainer {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-col-1{
    background-color: #111;
    color: #fff;
    padding: 10px;
    flex: 25%;
  }
  
  .flex-col-2 {
    background-color: #222;
    color: #eee;
    padding: 10px;
    flex: 25%;
  }
  
  .flex-col-3 {
    background-color: #333;
    color: #ddd;
    padding: 10px;
    flex: 25%;
  }
  
  .flex-col-4 {
    background-color: #444;
    color: #ccc;
    padding: 10px;
    flex: 25%;
  }
  
  .designbutton {
    background-color: rgb(50,150,220);
    font-family: "Spicy Rice";
    color: #eee;
    padding: 10px;
    font-size: 0.8em;
    border-width: 2px;
    border-color: rgba(255,255,255,0.5);
    border-radius: 15px;
  }
  
  .glass-button {
    margin: 5px;
    display: inline-block;
    padding: 15px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-family: "Poppin";
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
  
  }
  
  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }
  
  a {
     text-decoration: none;  
  }
  
  .glass-button:active {
    
  }
  
  a:visited {
    color: #ddd;
  }
  
  @media (max-width: 800px) {
    .flexcontainer {
      flex-direction: column;
    }
  }
  
  
  
  
  
  